[submodule "bundle/gundo.vim"]
	path = bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/snipmate-snippets"]
	path = bundle/snipmate-snippets
	url = git@bitbucket.org:Enucatl/snipmate-snippets.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-latex"]
	path = bundle/vim-latex
	url = git+ssh://vim-latex.git.sourceforge.net/gitroot/vim-latex/vim-latex
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = git@bitbucket.org:Enucatl/snipmate.vim.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/a.vim"]
	path = bundle/a.vim
	url = https://github.com/vim-scripts/a.vim.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-spec-macros"]
	path = bundle/vim-spec-macros
	url = git@bitbucket.org:Enucatl/vim-spec-macros.git
[submodule "bundle/UltiSnips"]
	path = bundle/UltiSnips
	url = https://github.com/MarcWeber/ultisnips.git
