[submodule "bundle/gundo.vim"]
	path = bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/a.vim"]
	path = bundle/a.vim
	url = https://github.com/vim-scripts/a.vim.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-spec-macros"]
	path = bundle/vim-spec-macros
	url = git@bitbucket.org:Enucatl/vim-spec-macros.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = git@github.com:Enucatl/ultisnips.git
[submodule "bundle/vim-haskellmode"]
	path = bundle/vim-haskellmode
	url = https://github.com/lukerandall/haskellmode-vim.git
[submodule "bundle/pylint"]
	path = bundle/pylint
	url = git://github.com/orenhe/pylint.vim.git
[submodule "bundle/vim-latex"]
	path = bundle/vim-latex
	url = git@github.com:Enucatl/vim-latex.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
